fonts/**/*
game_*/*.sh
game_*/**/*.bmp
game_*/**/*.png
game_*/**/*.ogg
game_*/**/*.mpg
game_*/**/*.webm
game_*/**/*.webp
game_*/**/*.opus
game_*/scripts.js
game_hiver/system/search01mask.msk
make_script/**/*.s
make_script/data00_*_cn/*
package.json
package-lock.json
node_modules
