@font-face {
  font-family: "FlowersRuby";
  src: local("Noto Serif CJK JP"), url("fonts/NotoSerifCJK-Regular.ttc");
}

@font-face {
  font-family: "FlowersText";
  src: local("Noto Serif CJK JP"), url("fonts/NotoSerifCJK-Regular.ttc");
}

html,
body,
#container {
  /* enable below for electron */
  /* margin: 0;
  padding: 0; */
  overflow: auto;
  scrollbar-width: none;
  font-family: sans-serif;
}

#container:fullscreen>#fullscreenbtn {
  display: none;
}

#container:not(:fullscreen)>#flowers {
  width: 1280px;
  height: 720px;
}

#container:fullscreen {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

#flowers:not(.loaded) {
  display: grid;
  align-items: center;
  background-color: rgb(240, 255, 255);
}

#notify {
  margin-left: 2em;
}

#placeholder {
  font-size: larger;
  text-align: center;
  animation: text-flash 1s infinite;
}

@keyframes text-flash {
  0% {
    color: black;
  }

  50% {
    color: whitesmoke;
  }

  100% {
    color: black;
  }
}

@keyframes bg-flash-red {
  0% {
    background-color: white;
    color: black
  }

  50% {
    background-color: red;
    color: white
  }

  100% {
    background-color: white;
    color: black;
  }
}

#verticaltitle {
  padding-left: 1em;
  display: none;
}

@media screen and (orientation: portrait) {
  :fullscreen #verticaltitle {
    display: block;
  }
}

@media screen and (orientation: landscape) {
  :fullscreen #flowers {
    margin: auto;
  }
}

svg>* {
  opacity: 75%;
}

svg>*:hover {
  opacity: 100%;
}